@import "tailwindcss";

:root {
  background: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  background: transparent !important;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: transparent !important;
  }

  body {
    background: transparent !important;
  }
}