@import "tailwindcss";

@theme {
  --color-primary: #222b36;
  --color-background: #1a202c;
  --color-foreground: #171717;
  --color-secondary: #f27a3a;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}